<link rel="stylesheet" href="~/css/mycss.css" />
<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About FPT Book Shop</h1>
        <p class="font-italic text-muted mb-4">FPT Book is a leading book distribution and retail company, providing customers with a diverse and professional book buying experience. With more than 10 years of experience in the industry, we are proud to be a trusted partner of thousands of readers and reputable publishers nationwide.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://cdni.iconscout.com/illustration/premium/thumb/kids-reading-book-3863815-3238406.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <p class="font-italic text-muted mb-4">At FPT Book Shop, we put customers first. We understand that books are not just documents, but a source of inspiration and knowledge. We are confident in meeting all of our customers' reading needs.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://cdni.iconscout.com/illustration/premium/thumb/people-reading-books-3863812-3238403.png?f=webp" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://cdni.iconscout.com/illustration/premium/thumb/boy-reading-book-3863816-3238407.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <p class="font-italic text-muted mb-4">In addition, FPT Book Shop also provides fast and reliable delivery services. Customers can easily choose and order books online through our website or go directly to the store to experience the book title they want.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">4 chi em siu nhan </p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.freepik.com/free-photo/portrait-young-woman-wearing-glasses-3d-rendering_1142-43632.jpg?t=st=1703088086~exp=1703091686~hmac=f1ead7db2db76dd426ac1e692af96cc048d8828dad22754109ced21ce37e0a89&w=740" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mixi Huyen</h5><span class="small text-uppercase text-muted">Team Leader</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-linkedin"></i></></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.freepik.com/free-photo/portrait-business-woman-glasses-3d-rendering_1142-42098.jpg?t=st=1703089175~exp=1703092775~hmac=4cbdb63a398f5f98c22def95e42326cdef8c73b0a114980cc01098a15582e228&w=740" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Hoang Hao</h5><span class="small text-uppercase text-muted">Team Member</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-linkedin"></i></></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.freepik.com/free-photo/3d-illustration-businesswoman-with-glasses-city-street_1142-41734.jpg?t=st=1703087281~exp=1703090881~hmac=5eeb8d181bee85bf47e894744cb4493fef5f02272abe5e793762b0e97ce256c8&w=740" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Bao Trang</h5><span class="small text-uppercase text-muted">Team Member</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-linkedin"></i></></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.freepik.com/free-photo/3d-illustration-cute-cartoon-girl-with-brown-hair-eyeglasses_1142-40907.jpg?t=st=1703087306~exp=1703090906~hmac=86db2e7bccd1ad45eac06026554ce46f464d9518b5673a00125a251e2ef1658f&w=740" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Hoang Oanh</h5><span class="small text-uppercase text-muted">Team Member</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><i class="fa-brands fa-linkedin"></i></></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div