@model Category
<div class="row pt-4 pb-4">
    <div class="col-6">
        <h2>Create a Category</h2>
    </div>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3 row">
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Description"></label>
            <input asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input hidden asp-for="Status" value="Pending" />
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
