@model IEnumerable<OrderDetails>
    <div class="row p-3 border bg-white">
        <div class="col-12 border-bottom">
            <h2 class="display-2">Order Details</h2>
        </div>
        <div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Title</th>
                    <th>Quantity</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var OrderDetail in Model)
                {
                    <tr>
                        <td>@OrderDetail.Id</td>
                        <td>@OrderDetail.Book.Title</td>
                        <td>@OrderDetail.Quantity</td>
                        <td>@OrderDetail.Price</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}
